<!--&lt;!&ndash;<p>Tests</p>&ndash;&gt;-->
<!--&lt;!&ndash;<table>&ndash;&gt;-->
<!--&lt;!&ndash;  <tr *ngFor = "let testUser of testUsers">&ndash;&gt;-->
<!--&lt;!&ndash;    <td>&ndash;&gt;-->
<!--&lt;!&ndash;    Имя пользователя: {{testUser?.name}}&ndash;&gt;-->
<!--&lt;!&ndash;      <br>&ndash;&gt;-->
<!--&lt;!&ndash;    Возраст пользователя: {{testUser?.age}}&ndash;&gt;-->
<!--&lt;!&ndash;    </td>&ndash;&gt;-->
<!--&lt;!&ndash;  </tr>&ndash;&gt;-->
<!--&lt;!&ndash;</table>&ndash;&gt;-->

<!--<p>Users</p>-->
<!--<table>-->
<!--  <tr *ngFor = "let user of list_users">-->
<!--    <td>-->

<!--      firstName пользователя: {{user?.firstName}}-->
<!--      <br>-->
<!--      firstName пользователя: {{user?.firstName}}-->
<!--      <br>-->

<!--    </td>-->
<!--  </tr>-->
<!--</table>-->
